:root.theme-light {
  --main-picture: url(../images/cover-image-light.png);
  --header-text-color: #ffc2e6;
  --main-text-color: #353430;
  --accent-title-color: #353430;
  --text-shadow-color: #ff8dcb;
  --subtitle-text-color: #353430;
  --title-decor-color: #ff8dcb;
  --button-hover-color: rgba(53, 52, 48, 0.4);
  --bg-color: #ffc2e6;
}
@media (prefers-color-scheme: light) {
  :root {
    --main-picture: url(../images/cover-image-light.png);
    --header-text-color: #ffc2e6;
    --main-text-color: #353430;
    --accent-title-color: #353430;
    --text-shadow-color: #ff8dcb;
    --subtitle-text-color: #353430;
    --title-decor-color: #ff8dcb;
    --button-hover-color: rgba(53, 52, 48, 0.4);
    --bg-color: #ffc2e6;
    --header-fs-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    --header-fs-desk: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
.theme-light .header__rec {
  display: none;
}
.theme-light .page {
  background-image: var(--main-picture);
}
